# Supabase Configuration
NUXT_PUBLIC_SUPABASE_URL=https://tceusgxbfpekjcthrrqu.supabase.co
NUXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__ar3t49-ts89flpoWupqTA_44jctdfW
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjZXVzZ3hiZnBla2pjdGhycnF1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTY4NjM1MiwiZXhwIjoyMDkxMjYyMzUyfQ.jeK7YwFAxbMJ2rW3MLXe32jdQAyRlCt-3rsNifjwprg

# Telegram Bot (opcional, para webhook)
TELEGRAM_BOT_TOKEN=